
@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Core.ViewModels.RoomViewModel

    <h1>Modifica camera</h1>

    <div class="row mt-3">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Hidden" />

                <div class="form-floating col-lg-10 mb-3">
                    <input asp-for="RoomName" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
                    <label for="floatingInput1" asp-for="RoomName"></label>
                    <span asp-validation-for="RoomName" class="text-danger"></span>
                </div>

                <div class="form-group btn-group">
                    <a asp-action="Manage" asp-controller="Home" class="btn btn-outline-secondary">Inapoi</a>
                    <input type="submit" value="Salveaza modificarile" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>
    </div>
}