@model MVCAgenda.Models.Rooms.RoomViewModel

@{
	var pageTitle = "Modifică camera";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasă</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Rooms">
				<i class="fas fa-tag"></i>
				<span>Camere</span>
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<form asp-action="Edit">
	<section class="section">
		<header>
			<strong class="title">
				<i class="fas fa-tag"></i>
				@pageTitle
			</strong>
			<div class="actions">
				<button type="submit" class="btn btn-primary">
					<i class="far fa-save"></i>
					Salvează
				</button>
			</div>
		</header>
		<div class="content">
			<div class="data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<input type="hidden" asp-for="Id"/>
				<input type="hidden" asp-for="Hidden"/>

				<div class="form-floating mb-3">
					<input asp-for="Name" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
					<label for="floatingInput1" asp-for="Name"></label>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-floating mb-3">
					<input asp-for="PrimaryColor" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
					<label for="floatingInput1" asp-for="PrimaryColor"></label>
					<span asp-validation-for="PrimaryColor" class="text-danger"></span>
				</div>

				<div class="form-floating mb-3">
					<input asp-for="SecondaryColor" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
					<label for="floatingInput1" asp-for="SecondaryColor"></label>
					<span asp-validation-for="SecondaryColor" class="text-danger"></span>
				</div>

				<div class="form-floating mb-3">
					<input asp-for="Description" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
					<label for="floatingInput1" asp-for="Description"></label>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>
		</div>
	</section>
</form>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}