@{
    ViewData["Title"] = "_SchedulerPopUp";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.Appointments.AppointmentViewModel
<div class="main box">
    <h2 class="text-color mb-3 text-center">Adaugă o programare</h2>

    <form asp-action="Create">

        <div class="row g-3">
            <input asp-for="Id" type="hidden" />
            <input asp-for="PatientId" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating col-md-6">
                <input asp-for="FirstName" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
                <label for="floatingInput1" asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <input asp-for="SecondName" class="form-control" id="floatingInput2" placeholder="Obligatoriu">
                <label for="floatingInput2" asp-for="SecondName"></label>
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <input asp-for="PhonNumber" class="form-control" id="floatingInput3" placeholder="Obligatoriu">
                <label for="floatingInput3" asp-for="PhonNumber"></label>
                <span asp-validation-for="PhonNumber" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <input asp-for="Mail" class="form-control" id="floatingInput4" placeholder="Obligatoriu">
                <label for="floatingInput4" asp-for="Mail"></label>
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>

            @*<div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" asp-for="Blacklist" aria-label="Checkbox for following text input">
                </div>
                <input type="text" value="Lista neagra" class="form-control" aria-label="Text input with checkbox" readonly>
            </div>*@

            <div class="form-floating col-md-6">
                <select asp-for="MedicId" class="form-control" id="floatingInput5" asp-items="ViewBag.MedicId"></select>
                <label for="floatingInput5" asp-for="MedicId"></label>
                <span asp-validation-for="MedicId" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <select asp-for="RoomId" class="form-control" id="floatingInput6" asp-items="ViewBag.RoomId"></select>
                <label for="floatingInput6" asp-for="RoomId"></label>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <input asp-for="AppointmentDate" class="form-control" id="floatingInput7" placeholder="Obligatoriu">
                <label for="floatingInput7" asp-for="AppointmentDate"></label>
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <input asp-for="AppointmentHour" class="form-control" id="floatingInput8" placeholder="Obligatoriu">
                <label for="floatingInput8" asp-for="AppointmentHour"></label>
                <span asp-validation-for="AppointmentHour" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <input asp-for="Procedure" class="form-control" id="floatingInput7" placeholder="Obligatoriu">
                <label for="floatingInput7" asp-for="Procedure"></label>
                <span asp-validation-for="Procedure" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <textarea asp-for="Comments" class="form-control resizable" id="floatingInput8" placeholder="Obligatoriu"></textarea>
                <label for="floatingInput8" asp-for="Comments"></label>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <input asp-for="Hidden" type="hidden" />
            <input asp-for="Made" type="hidden" />
            <input asp-for="ResponsibleForAppointment" type="hidden" />
            <input asp-for="AppointmentCreationDate" type="hidden" />
        </div>

        <div class="mt-3 d-lg-flex justify-content-lg-center">
            <div class="btn-group" role="group" aria-label="Optiuni">
                <a asp-action="Index" asp-route-Daily="true" class="btn btn-outline-secondary">Anulează</a>
                <input type="submit" value="Adaugă o programare" class="btn btn-main-color-filled" />
            </div>
        </div>
        
    </form>
</div>
    
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}
