
@{
    ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Domain.Consultatie

    <h1>Adauga o consultatie</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FisaPacientId" />
                <input type="hidden" asp-for="DataCreeare" />

                <div class="form-group">
                    <label asp-for="Simptome" class="control-label"></label>
                    <input asp-for="Simptome" class="form-control" />
                    <span asp-validation-for="Simptome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diagnostic" class="control-label"></label>
                    <input asp-for="Diagnostic" class="form-control" />
                    <span asp-validation-for="Diagnostic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prescriptii" class="control-label"></label>
                    <input asp-for="Prescriptii" class="form-control" />
                    <span asp-validation-for="Prescriptii" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Details" asp-controller="FisePacienti" asp-route-id="@Model.FisaPacientId">Inapoi</a>
    </div>
}