
@{
    ViewData["Title"] = "Delete";
}


@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Core.ViewModels.MedicViewModel

    <h1>Sterge</h1>

    <h3>Esti sigur ca vrei sa stergi?</h3>
    <div>
        <hr />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Hidden" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MedicName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MedicName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Manage" asp-controller="Home">Inapoi</a>
        </form>
    </div>
}