
@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Core.ViewModels.MedicViewModel

    <div class="main box">
        <div class=" mt-3 d-lg-flex justify-content-lg-center">
            <div class="col-md-12">
                <form asp-action="Edit">

                    <div class="container g-0">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h2 class="text-color text-center mb-3">Modifica medicul</h2>
                            </div>
                            <div class="col-auto">
                                <div class="form-group btn-group">
                                    <a asp-action="Manage" asp-controller="Home" class="btn btn-outline-secondary">Anulează</a>
                                    <input type="submit" value="Salvează modificările" class="btn btn-main-color-filled" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Hidden" />

                    <div class="form-floating mb-3">
                        <input asp-for="MedicName" class="form-control" id="floatingInput1" placeholder="Obligatoriu">
                        <label for="floatingInput1" asp-for="MedicName"></label>
                        <span asp-validation-for="MedicName" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
}