@model MVCAgenda.Core.AccountModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <main class="form-signin">
        <form method="post">

            @*<img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">*@
            <h1 class="h3 mb-3 fw-normal">Inregistreaza-te</h1>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">@Html.DisplayNameFor(model => model.Email)</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">@Html.DisplayNameFor(model => model.Password)</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Inregistreaza-te</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
</div>