
@{
    ViewData["Title"] = "Details";
}


@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Domain.Medic

    <h1>Detalii</h1>

    <div>
        <h4>Medic</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DenumireMedic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DenumireMedic)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.MedicId">Modifica</a> |
        <a asp-action="Manage" asp-controller="Home">Inapoi</a>
    </div>
}