

@{
    ViewData["Title"] = "Edit";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.Appointments.AppointmentEditViewModel
    <div class="main box">

        <form asp-action="Edit">

            <div class="container g-0">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h2 class="text-color mb-3 text-center">Modifică programarea</h2>

                    </div>
                    <div class="col-auto">
                        <div class="d-lg-flex justify-content-lg-center">
                            <div class="btn-group" role="group" aria-label="Optiuni">
                                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Anulează</a>
                                <input type="submit" value="Salvează modificările" class="btn btn-main-color-filled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row g-3">
                <input asp-for="Id" type="hidden" />
                <input asp-for="PatientId" type="hidden" />
                <input type="hidden" asp-for="PatientId" />

                <div class="form-floating col-md-6">
                    <select asp-for="MedicId" class="form-control" id="floatingInput5" asp-items="ViewBag.MedicId"></select>
                    <label for="floatingInput5" asp-for="MedicId"></label>
                    <span asp-validation-for="MedicId" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <select asp-for="RoomId" class="form-control" id="floatingInput6" asp-items="ViewBag.RoomId"></select>
                    <label for="floatingInput6" asp-for="RoomId"></label>
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="StartDate" class="form-control" id="floatingInput7" placeholder="Obligatoriu">
                    <label for="floatingInput7" asp-for="StartDate"></label>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="EndDate" class="form-control" id="floatingInput8" placeholder="Obligatoriu">
                    <label for="floatingInput8" asp-for="EndDate"></label>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <input asp-for="Procedure" class="form-control" id="floatingInput7" placeholder="Obligatoriu">
                    <label for="floatingInput7" asp-for="Procedure"></label>
                    <span asp-validation-for="Procedure" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6">
                    <textarea asp-for="Comments" class="form-control resizable" id="floatingInput8" placeholder="Obligatoriu"></textarea>
                    <label for="floatingInput8" asp-for="Comments"></label>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" asp-for="Made" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" value="Programare efectuată" class="form-control" aria-label="Text input with checkbox" readonly>
                </div>

                <input asp-for="Hidden" type="hidden" />
                <input asp-for="ResponsibleForAppointment" type="hidden" />
                <input asp-for="AppointmentCreationDate" type="hidden" />
            </div>
        </form>
    </div>
    
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}