

@{
    ViewData["Title"] = "Edit";
}
@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Domain.Programare
    <h4>Modifica programare</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <input type="hidden" asp-for="ProgramareId" />
                <input type="hidden" asp-for="PacientId" />
                <div class="form-group">
                    <label asp-for="CameraId" class="control-label"></label>
                    <select asp-for="CameraId" class="form-control" asp-items="ViewBag.CameraId"></select>
                    <span asp-validation-for="CameraId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MedicId" class="control-label"></label>
                    <select asp-for="MedicId" class="form-control" asp-items="ViewBag.MedicId"></select>
                    <span asp-validation-for="MedicId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataConsultatie" class="control-label"></label>
                    <input asp-for="DataConsultatie" class="form-control" />
                    <span asp-validation-for="DataConsultatie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OraConsultatie" class="control-label"></label>
                    <input asp-for="OraConsultatie" class="form-control" />
                    <span asp-validation-for="OraConsultatie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Procedura" class="control-label"></label>
                    <input asp-for="Procedura" class="form-control" />
                    <span asp-validation-for="Procedura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Efectuata" class="control-label"></label>
                    <select asp-for="Efectuata" class="form-control">
                        <option value="1">Da</option>
                        <option value="0">Nu</option>
                    </select>
                    <span asp-validation-for="Efectuata" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ResponsabilProgramare" />
                <input type="hidden" asp-for="DataCreeareConsultatie" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Inapoi la lista cu programari</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}