
@{
    ViewData["Title"] = "Edit";
}



@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Domain.FisaPacient

    <h1>Edit</h1>

    <h4>FisaPacient</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FisaPacientId" />
                <div class="form-group">
                    <label asp-for="AntecedenteH" class="control-label"></label>
                    <input asp-for="AntecedenteH" class="form-control" />
                    <span asp-validation-for="AntecedenteH" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AntecedenteP" class="control-label"></label>
                    <input asp-for="AntecedenteP" class="form-control" />
                    <span asp-validation-for="AntecedenteP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExamenFizic" class="control-label"></label>
                    <input asp-for="ExamenFizic" class="form-control" />
                    <span asp-validation-for="ExamenFizic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CNP" class="control-label"></label>
                    <input asp-for="CNP" class="form-control" />
                    <span asp-validation-for="CNP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sexul" class="control-label"></label>
                    <select asp-for="Sexul" class="form-control">
                        <option value="0">Feminin</option>
                        <option value="1">Masculin</option>
                    </select>
                    <span asp-validation-for="Sexul" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Localitatea" class="control-label"></label>
                    <input asp-for="Localitatea" class="form-control" />
                    <span asp-validation-for="Localitatea" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Strada" class="control-label"></label>
                    <input asp-for="Strada" class="form-control" />
                    <span asp-validation-for="Strada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataNasterii" class="control-label"></label>
                    <input asp-for="DataNasterii" class="form-control" />
                    <span asp-validation-for="DataNasterii" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salveaza" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Details" asp-controller="FisePacienti" asp-route-id="@Model.FisaPacientId">Inapoi</a>
    </div>
}