@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Wellcome</h1>
        <h6>To do: explicatii platforma</h6>
        <a href="https://discord.gg/xjypgrzYDE">Discrod</a>
        
    </div>
}