@model MVCAgenda.Models.Home.HomeViewModel

@{
	var pageTitle = "Clinica Esderm";

	ViewData["Title"] = pageTitle;
}

<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<div class="section">
	<header>
		<strong class="title">
			<i class="far fa-hospital"></i>
			@pageTitle
		</strong>
		<div class="actions">
			<a asp-action="Informations" asp-controller="Home" class="btn btn-outline-primary">
				<i class="fas fa-info"></i>
				Informatii
			</a>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="data">
			<div class="cardBox">
				<div class="card">
					<div>
						<div class="numbers">100</div>
						<div class="cardName">Programarile zilnice</div>
					</div>
					<div class="iconBx">
						<i class="far fa-hospital"></i>
					</div>
				</div>
				<div class="card">
					<div>
						<div class="numbers">25</div>
						<div class="cardName">Programarile personale</div>
					</div>
					<div class="iconBx">
						<i class="far fa-hospital"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>