@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="main box">
        <div class="mt-3 d-lg-flex justify-content-lg-center">
            <div>
                <span class="fs-4 text-color ms-3 subtitle-home">Clinica</span>
                <img class="sigla" src="https://esderm.ro/wp-content/uploads/2020/09/logo-esderm-web.png">
            </div>
        </div>

        <div>
            <a class="btn btn-main-color-filled" asp-action="Informations">Informatii</a>
        </div>
    </div>
        
}
