@model MVCAgenda.Models.PatientSheets.PatientSheetEditViewModel

@{
	var pageTitle = "Modifică fișa pacientului";

	ViewData["Title"] = pageTitle;
}


<nav aria-label="breadcrumb" class="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home">
				<i class="fas fa-home"></i>
				<span>Acasa</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Patients">
				<i class="fas fa-user-friends"></i>
				<span>Pacienți</span>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Details" asp-controller="Patients" asp-route-id="in pla ca nu este id-ul pacientului">
				<i class="fas fa-hospital-user"></i>
				<span>@Model.FirstName.ToUpper() @(Model.LastName != null ? Model.LastName : "")</span> 
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span>@pageTitle</span>
		</li>
	</ol>
</nav>

<form asp-action="Edit">
	<section class="section">
		<header>
			<strong class="title">
				<i class="fas fa-file-medical-alt"></i>
				@pageTitle
			</strong>
			<div class="actions">
				<button type="submit" class="btn btn-primary">
					<i class="far fa-save"></i>
					Salveaza
				</button>
			</div>
		</header>
		<div class="content">
			<div class="data">
				<input type="hidden" asp-for="Id"/>
				<input type="hidden" asp-for="PatientId"/>
				<div class="form-floating mb-3">
					<input asp-for="AntecedentsH" class="form-control" id="floatingInput1">
					<label for="floatingInput1" asp-for="AntecedentsH"></label>
					<span asp-validation-for="AntecedentsH" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="AntecedentsP" class="form-control" id="floatingInput2">
					<label for="floatingInput2" asp-for="AntecedentsP"></label>
					<span asp-validation-for="AntecedentsP" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="PhysicalExamination" class="form-control" id="floatingInput3">
					<label for="floatingInput3" asp-for="PhysicalExamination"></label>
					<span asp-validation-for="PhysicalExamination" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="NationalIdentificationNumber" class="form-control" id="floatingInput4">
					<label for="floatingInput4" asp-for="NationalIdentificationNumber"></label>
					<span asp-validation-for="NationalIdentificationNumber" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<select asp-for="Gender" class="form-select" id="floatingSelect5" aria-label="Genul">
						<option value="0">Feminin</option>
						<option value="1">Masculin</option>
					</select>
					<label for="floatingSelect5">Genul</label>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Town" class="form-control" id="floatingInput6">
					<label for="floatingInput6" asp-for="Town"></label>
					<span asp-validation-for="Town" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Street" class="form-control" id="floatingInput7">
					<label for="floatingInput7" asp-for="Street"></label>
					<span asp-validation-for="Street" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="DateOfBirth" class="form-control" id="floatingInput7">
					<label for="floatingInput7" asp-for="DateOfBirth"></label>
					<span asp-validation-for="DateOfBirth" class="text-danger"></span>
				</div>
			</div>
		</div>
	</section>
</form>