
@{
    ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated)
{
    @model MVCAgenda.Models.Consultations.ConsultationCreateViewModel
    <div class="main box">
        <div class="row">
            <div>
                <form asp-action="Create">
                    <div class="container g-0">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h1 class="mb-3 text-color">Adaugă o consultație</h1>
                            </div>
                            <div class="col-auto">
                                <div class="mb-3 d-lg-flex justify-content-lg-center">
                                    <div class="form-group btn-group" role="group" aria-label="Optiuni">
                                        <a asp-action="Details" asp-controller="PatientSheets" asp-route-id="@Model.SheetPatientId" class="btn btn-outline-secondary">Anulează</a>
                                        <input type="submit" value="Adaugă o consultație" class="btn btn-main-color-filled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SheetPatientId" />

                    <div class="form-floating mb-3">
                        <textarea asp-for="Symptoms" class="form-control" id="floatingTextarea1" placeholder="text" class="form-control resizable"></textarea>
                        <label for="floatingTextarea1" asp-for="Symptoms"></label>
                        <span asp-validation-for="Symptoms" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea asp-for="Diagnostic" class="form-control" id="floatingTextarea2" placeholder="text" class="form-control resizable"></textarea>
                        <label for="floatingTextarea2" asp-for="Diagnostic"></label>
                        <span asp-validation-for="Diagnostic" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea asp-for="Prescriptions" class="form-control" id="floatingTextarea3" placeholder="text" class="form-control resizable"></textarea>
                        <label for="floatingTextarea3" asp-for="Prescriptions"></label>
                        <span asp-validation-for="Prescriptions" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
}