
@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Models.Consultations.ConsultationEditViewModel

    <div class="main box">
        <div class="container g-0">
        </div>
        <div class="row">
            <form asp-action="Edit">
                <div class="row justify-content-between">
                    <div class="col-auto">
                                <h2 class="mb-3 text-color text-center">Modifică consultația</h2>
                    </div>
                    <div class="col-auto">
                        <div class="d-lg-flex justify-content-lg-center mb-3">
                            <div class="form-group btn-group" role="group" aria-label="Optiuni">
                                <a asp-action="Details" asp-controller="PatientSheet" asp-route-id="@Model.SheetPatientId" class="btn btn-outline-secondary">Detalii fișă pacient</a>
                                <input type="submit" value="Salvează modificările" class="btn btn-main-color-filled" />
                            </div>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="SheetPatientId" />
                <input type="hidden" asp-for="CreationDate" />

                <div class="form-floating mb-3">
                    <textarea asp-for="Symptoms" class="form-control" id="floatingTextarea1" placeholder="text" class="form-control resizable"></textarea>
                    <label for="floatingTextarea1" asp-for="Symptoms"></label>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Diagnostic" class="form-control" id="floatingTextarea2" placeholder="text" class="form-control resizable"></textarea>
                    <label for="floatingTextarea2" asp-for="Diagnostic"></label>
                    <span asp-validation-for="Diagnostic" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Prescriptions" class="form-control" id="floatingTextarea3" placeholder="text" class="form-control resizable"></textarea>
                    <label for="floatingTextarea3" asp-for="Prescriptions"></label>
                    <span asp-validation-for="Prescriptions" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div> 
}