
@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.IsAuthenticated)
{

    @model MVCAgenda.Core.ViewModels.ConsultationViewModel

    <h2>Modifica consultatie</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="SheetPatientId" />

                <div class="form-floating mb-3">
                    <textarea asp-for="Symptoms" class="form-control" id="floatingTextarea1" placeholder="text" class="form-control resizable"></textarea>
                    <label for="floatingTextarea1" asp-for="Symptoms"></label>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Diagnostic" class="form-control" id="floatingTextarea2" placeholder="text" class="form-control resizable"></textarea>
                    <label for="floatingTextarea2" asp-for="Diagnostic"></label>
                    <span asp-validation-for="Diagnostic" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Prescriptions" class="form-control" id="floatingTextarea3" placeholder="text" class="form-control resizable"></textarea>
                    <label for="floatingTextarea3" asp-for="Prescriptions"></label>
                    <span asp-validation-for="Prescriptions" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="CreationDate" class="form-control" id="floatingInput">
                    <label for="floatingInput" asp-for="CreationDate"></label>
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>

                @*<div class="form-group">
            <label asp-for="Symptoms" class="control-label"></label>
            <textarea asp-for="Symptoms" class="form-control resizable"></textarea>
            <span asp-validation-for="Symptoms" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Diagnostic" class="control-label"></label>
            <textarea asp-for="Diagnostic" class="form-control resizable"></textarea>
            <span asp-validation-for="Diagnostic" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Prescriptions" class="control-label"></label>
            <textarea asp-for="Prescriptions" class="form-control resizable"></textarea>
            <span asp-validation-for="Prescriptions" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreationDate" class="control-label"></label>
            <input asp-for="CreationDate" class="form-control" />
            <span asp-validation-for="CreationDate" class="text-danger"></span>
        </div>*@

                <div class="form-group btn-group" role="group" aria-label="Optiuni">
                    <a asp-action="Details" asp-controller="SheetPatient" asp-route-id="@Model.SheetPatientId" class="btn btn-secondary">Inapoi</a>
                    <input type="submit" value="Salveaza" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
}